.search-bar{

  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

@media (min-width: 50rem) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
}

.form-row{
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 50rem) {
  width:600px;
  padding-left: 20px;
  }
}